# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
lib/
lib64/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# mypy
.mypy_cache/

# pytest
.cache/

# Coverage
.coverage
coverage.xml

# Jupyter Notebook
.ipynb_checkpoints/
